NEXT_PUBLIC_SUPABASE_URL=https://nllollyewnrijwhcqvfd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5sbG9sbHlld25yaWp3aGNxdmZkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY3ODU3NjksImV4cCI6MjA3MjM2MTc2OX0.m7SqBlr_GfRN4O1slF6m0XUuTvBIwO_6kkhNLGdssY4